#NotFound {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 20px;
    text-align: center;
}
#NotFound h1{
    margin-bottom: 40px;
}
#NotFound a {
    text-decoration: underline;
}