:root {
  /* --color1: #0C9876; */
  --color1: #306791;
  --color2: #EFF2DD;
  --color3: #47655E;
  /* --color4: #118166; */
  --color4: #3e567a;
  --color5: #777777;
  --color6: #f8f9ed;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  border: none;
  outline: none;

  scroll-behavior: smooth;

}
#App {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.anony-page {
  background: var(--color2);
  /* background-image: url(./res/images/svg/message-icon-bg.svg); */
  backdrop-filter: opacity(.3);
  background-size: 50px;
}